html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
}

body {
	font-family: 'Josefin Sans', sans-serif;
	background: url(images/bg-pattern-desktop.svg);
	display: flex;
	justify-content: space-between;
}

.column {
	height: 100%;
}

.column-one {
	margin: 50px;
	padding: 2% 8% 0 8%;
}

.big-img {
	max-width: 50vw;
  	margin: auto;
  	margin-right: 0;
}

body p {
	font-size: 16px;
	font-weight: 400;
	color: #CE9797;
	padding-bottom: 7%;
	line-height: 1.6em;
}

.title-text {
	font-size: 40px;
	letter-spacing: 10px;
	text-transform: uppercase;
	padding-top: 12%;
}

.first {
	font-weight: 400;
	color: #CE9797;
}

.second {
	font-weight: 600;
}

form {
	display: flex;
}

input {
	flex: 1;
	border-radius: 20px;
    width: 60%;
    padding: 12px;
}

input:focus {
	outline: none;
}

input::placeholder {
	color: hsla(0, 36%, 70%, 0.589);
	background-color: transparent !important;
}

.inactive {
	border: 1px solid hsla(0, 8%, 56%, 0.459);
}

.empty-field {
	border: 1px solid red;
	background-image: url(images/icon-error.svg);
  	background-repeat: no-repeat;
 	background-position: right 16% center;
}

.submit-button {
	border: none;
	z-index: 2;
    padding: 10px;
    border-radius: 20px;
    width: 75px;
    margin-left: -50px;
    background-image: linear-gradient(135deg, rgba(206,151,151,0.7) 0%, rgba(249,98,98,0.7) 100%);
}

.submit-button:hover {
	background-image: linear-gradient(135deg, rgba(206,151,151,0.3) 0%, rgba(249,98,98,0.3) 100%);
	cursor: pointer;
	-webkit-box-shadow: 10px 10px 20px -5px rgba(206,151,151,0.57);
	-moz-box-shadow: 10px 10px 20px -5px rgba(206,151,151,0.57);
	transition: all 0.4s ease 0s;
}

.submit-button:focus {
	outline: none;
}

.error-text {
	font-size: 0.7em;
	display: none;
	padding: 7%;
}

.small-img {
	display: none;
}

@media only screen and (max-width: 650px){
	body {
		display: flex;
		flex-direction: column;
		margin-right: auto;
		margin-left: auto;
		overflow-x: hidden;
		align-items: center;
	}

	body p, .title-text {
		text-align: center;
	}

	.logo {
		margin: -3% 0 10% 10%;
	}

	body p, .title-text, form {
		margin: 5%;
	} 

	.big-img {
		display: none;
	}

	.small-img {
		display: block;
	}
}

@media only screen and (min-width: 650px) and (max-width: 1130px){
	.empty-field {
		background-position: right 30% center;
	}
}